<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    {{#if isAuthenticated}}{{else}}
      <h1>Login with the login credentials from your email</h1>
      <div class="container">
        <div class="main">
          <form id="form_id" name="myform">
            <label>User Name :</label>
            <input type="text" name="username" id="username" />
            <label>Password :</label>
            <input type="password" name="password" id="password" />
            <input
              type="button"
              value="Login"
              id="submit"
              onclick="validate()"
            />
          </form>
          <h3 id="loginfail"></h3>
        </div>
      </div>

      <a href="/api/auth/signin">Sign with Azure</a>

      <script>
  async function validate() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        try {
          let payload = {
            email: username,
            password: password,
          };
          
          let res = await axios.post("http://localhost:3000/api/auth", payload);
          if(res.status==200){
            localStorage.setItem("jwt", res.data.token);
            localStorage.setItem("SubId", res.data.subId);
            window.location.href="http://localhost:3000/api/auth/signin";
            {{!-- window.location.href = "http://localhost:3000/dashboard"; --}}
            console.log(res.data)
            
          }
        } catch (e) {console.log(e)
          document.getElementById("loginfail").innerHTML = JSON.stringify(
          "Please try again with correct email & password",
          null,
          4
        );
        }
      }
      </script>

    {{/if}}

  </body>
</html>